HELP.md
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

# --- Java / Spring Boot ---
target/
*.class
.mvn/
*.jar
*.war
.idea/
*.iml
.vscode/
data/       # Ignora o banco de dados local para não subir dados de teste

# --- Node / React ---
node_modules/
dist/
build/
.env
.DS_Store
coverage/
npm-debug.log
yarn-error.log

# --- Logs do Sistema ---
logs/
*.log# --- Java / Spring Boot ---
target/
*.class
.mvn/
*.jar
*.war
.idea/
*.iml
.vscode/
data/       # Ignora o banco de dados local para não subir dados de teste

# --- Node / React ---
node_modules/
dist/
build/
.env
.DS_Store
coverage/
npm-debug.log
yarn-error.log

# --- Logs do Sistema ---
logs/
*.log